<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.luberg.alex.asana-alfred-workflow</string>
	<key>category</key>
	<string>Productivity</string> <key>connections</key>
	<dict>
		<key>1E6C9791-B761-4987-B794-0A190B54D25A</key>
		<array/>
		<key>87AAB7CA-E30A-46E7-9199-E263B777A10F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6C9791-B761-4987-B794-0A190B54D25A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96F5AE91-ADBF-4AD3-B9A1-8A0BC77E272E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6C9791-B761-4987-B794-0A190B54D25A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Luberg</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E6C9791-B761-4987-B794-0A190B54D25A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>96F5AE91-ADBF-4AD3-B9A1-8A0BC77E272E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>asana </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>131072</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>87AAB7CA-E30A-46E7-9199-E263B777A10F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E6C9791-B761-4987-B794-0A190B54D25A</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>87AAB7CA-E30A-46E7-9199-E263B777A10F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>96F5AE91-ADBF-4AD3-B9A1-8A0BC77E272E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ASANA_PERSONAL_TOKEN</key>
		<string></string>
		<key>ASANA_PROJECT_NAME</key>
		<string></string>
		<key>ASANA_WORKSPACE_NAME</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/LubergAlexander/asana-alfred.git</string>
</dict>
</plist>
